body{
    background-color: var(--plaz-color);
    font-size: 2rem;
    line-height: 2;
}
body.footer-fijo{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body.footer-fijo main{
    flex: 1;
}

/* ---------------------------- */
/* Logotipo */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
.logotipo{
    margin: 3rem auto;
    text-align: center;
}
.logotipo-imagen{
    width: 15rem;
}
.logotipo p{
    font-size: 7rem;
    text-transform: uppercase;
    margin: .2rem .5rem 0 0;
    line-height: .5;
    color: var(--complementary);
    font-family: var(--font);
}/* ------ ------------- ----- */


/* ------ Globales ----- */
h1{
    color: var(--alternative);
    text-align: center;
    font-family: var(--font);
    letter-spacing: .3rem;
    margin: 4rem 0;
}
.contenedor{
    max-width: 100rem;
    width: 95%;
    margin: 0 auto;
}
p{
    color: var(--white);
    font-size: 1.8rem;
}


/* ------ Barra Menú ----- */
.barra{
    background-color: var(--relacionar-active);
    padding: 1rem 0;
}
.barra .nav{
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    grid-column-gap: 1rem;
    justify-content: center;
}
.barra .nav a{
    font-family: var(--font);
    font-size: 2.5rem;
    letter-spacing: .3rem;
    text-align: center;
    color: var(--white);
}
.barra .nav a:hover{
    background-color: var(--complementary);
    text-decoration: none;
}

/* ------ Productos ----- */
.lista-productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
@media (min-width: 768px){
    .lista-productos{
        grid-template-columns: repeat(3, 1fr);
    }
}
.producto{
    background-color: var(--relacionar-active);
    padding: 1rem;
}
.producto a{
    cursor: pointer;
}
.contenido-producto p{
    font-family: var(--font);
    letter-spacing: .2rem;
    color: var(--white);
    text-align: center;
    margin: 1rem 0;
    line-height: 1.2;
}
.contenido-producto .titulo{
    font-size: 3rem;
}
.contenido-producto .precio{
    font-size: 4rem;
    color: var(--alternative);
}

/* ------ Graficos ----- */
.grafico{
    min-height: 30rem;
    background-size: cover;
    background-position: center center;
}
.grafico-1{
    background-image: url(../img/grafico1.jpg);
    grid-row: 2/3;
    grid-column: 1/3;
}
.grafico-2{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8/9;
    grid-column: span 2;
}
@media (min-width: 768px){
    .grafico-2{
        grid-row: 5/6;
        grid-column: 2/4;
    }
}

/* ---------------------------- */
/* Página Sobre Nosotros */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */

.contenedor-informacion{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 4rem;
}

/* ------ Footer ----- */
.footer{
    background-color: var(--relacionar-active);
    padding: 1rem 0;
    margin-top: 3rem;
}
.copyright{
    font-family: var(--font);
    color: var(--white);
    font-size: 2.2rem;
    letter-spacing: .3rem;
    text-align: center;
}

/* ---------------------------- */
/* Página Producto */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
.imagen-producto{
    width: 100%;
}
.formulario-pedido{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 6rem);
    grid-gap: 1rem;
}
.campo{
    background-color: transparent;
    border: .5rem solid var(--white);
    font-family: var(--font);
    font-size: 3rem;
    padding: 1rem;
    width: 100%;
    color: var(--white);
}
.talla{
    -webkit-appearance: none;
    border-radius: 0;
    grid-column: 1/3;
}
.boton{
    background-color: var(--complementary);
    font-size: 2rem;
    letter-spacing: .2rem;
    border: none;
    font-family: var(--font);
    transition: background-color .3s ease;
    grid-column: 1/4;
}
.boton:hover{
    background-color: var(--alternative);
    cursor: pointer;
}